@media (min-width: 768px) and (max-width: 1023px) {



    [aria-controls=navbarDropdown] {
        display: block;
    }

    .navbar-toggler {
        position: inherit;
    }
  

      [aria-expanded="false"] ~ ul {
          display: none;
      }

    [aria-expanded="true"] ~ ul {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        top: var(--size-100);
        /* background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7)); */
        width: 100%;
        height: -webkit-fill-available;
        box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
        background-color: whitesmoke;
        padding-top: var(--size-50);
    }

        [aria-expanded="true"] ~ ul li a {
            margin-right: var(--size-20);
            color: var(--font-color-dark);
            font-size: 0.8125rem;
            font-weight: 600;
            font-family: "hind", sans-serif;
            text-transform: uppercase;
            margin-right: 2.5rem;
            line-height: 1.25rem;
        }

    .trigram-menu li button {
        position: absolute;
        bottom: 60%;
        right: 45%;
        padding: var(--size-20);
        width: var(--size-150);
    }
    

        .trigram-menu li button a {
            margin-right: 0;
        }



        .nav-links {
            display: none;
        }

    .nav-container {
        margin: var(--size-20);
    }


    .empowerment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: var(--size-50);
    }

    .icon-logo-container {
        margin-right: 0;
        grid-row-gap: 0rem;
        grid-column-gap: 0rem;
        grid-column-gap: var(--size-30);
        margin-top: 0;
    }


    .card-container {
        display: grid;
        grid-template-areas:
            "respond custom"
            "prem docu";
        margin-top: var(--size-100);
        margin-bottom: var(--size-100);
        grid-row-gap: var(--size-50);
        grid-column-gap: var(--size-20);
        grid-row-gap: var(--size-20);
    }


    #responsive {
        grid-area: respond;
    }

    #customize {
        grid-area: custom;
    }

    #premium {
        grid-area: prem;
    }

    #document {
        grid-area: docu;
    }

    .service-card {
        max-width: -webkit-fill-available;
        padding: var(--size-30) var(--size-10);
    }



    .perspective-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--size-50);
    }

    .perspective-text {
        text-align: center;
    }



    .perspective-image img {
        width: -webkit-fill-available;
    }



    .why-front {
        margin-top: var(--size-50);
        margin-bottom: var(--size-50);
    }

    .executive-container {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: var(--size-50);
        margin-right: 0;
    }


    

    .executive-dots {
        grid-area: 1 / 1 / 2 / 2;
    }

    .executive-director {
        grid-area: 1 / 2 / 2 / 3;
        position: relative;
        right: 20%;
    }

    .testimonial {
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
    }



    .executive-dots {
        left: 40%;
        position: relative;
        top: 17%;
        z-index: -1;
    }


    .trusted h4 {
        margin-top: 0;
    }



    .pricing-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr repeat(2, 1fr);
        grid-column-gap: var(--size-100);
        grid-row-gap: var(--size-50);
    }

    #main-card {
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
    }

    #card2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    #card3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    #card4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    #card5 {
        grid-area: 3 / 2 / 4 / 3;
    }


    .price-card {
        padding: 0rem;
    }

    .hire-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .5fr 1fr;
        margin-top: 0;
    }


    .form {
        grid-area: 2 / 1 / 3 / 3;
    }

    .hire-header {
        grid-area: 1 / 1 / 2 / 2;
        margin-left: auto;
        position: relative;
        top: 20%;
    }




    .hire-us .form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }


    .head-of-comm {
        position: relative;
        left: 100%;
        bottom: 35%;
        padding-left: var(--size-50);
    }

    .hire-human {
        position: relative;
        left: 100%;
        bottom: 40%;
        justify-content: space-evenly;
        padding-right: var(--size-50);
    }




    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 0rem;
    }

    .contact-footer {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: var(--size-20);
    }


    .company-footer {
        grid-area: 1 / 2 / 2 / 3;
    }

    .feature-footer {
        grid-area: 1 / 3 / 2 / 4;
    }

    .docu-footer {
        grid-area: 2 / 2 / 3 / 3;
    }

    .resources-footer {
        grid-area: 2 / 3 / 3 / 4;
    }






    .bottom-footer {
        display: flex;
        justify-content: space-evenly;
        margin-right: 0;
        margin-left: 0;
    }
}




    @media (min-width: 360px) and (max-width: 767px) {
 


        .navbar-toggler {
            position: inherit;
        }

        .nav-links {
            display: none;
        }


      [aria-expanded="false"] ~ ul {
          display: none;
      }

        [aria-expanded="true"] ~ ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: absolute;
            right: 0;
            top: var(--size-100);
            /* background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7)); */
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
            background-color: whitesmoke;
            padding-top: 0rem;
        }

            [aria-expanded="true"] ~ ul li a {
                margin-right: var(--size-20);
                color: var(--font-color-dark);
                font-size: 0.8125rem;
                font-weight: 600;
                font-family: "hind", sans-serif;
                text-transform: uppercase;
                margin-right: 2.5rem;
                line-height: 1.25rem;
            }

            .trigram-menu li a {
                text-align: center;
            }

        .trigram-menu li button {
            position: absolute;
            bottom: 8%;
            right: 30%;
            padding: var(--size-20);
            width: var(--size-150);
        }


            .trigram-menu li button a {
                margin-right: 0;
            }

        [aria-controls=navbarDropdown] {
            display: block;
        }

        .trigram-menu li button {
            padding: var(--size-10);
            width: var(--size-150);
        }

            .trigram-menu li button a {
                margin-right: 0;
            }

        .empowerment-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            gap: var(--size-50);
            text-align: center;
        }


        .icon-logo-container {
            margin-right: 0;
            grid-row-gap: 0rem;
            grid-column-gap: 0rem;
            margin-top: 0rem;
           
        }


        .card-container {
            display: flex;
            flex-direction: column;
        }

        .service-card {
            border-style: hidden;
            font-size: var(--size-20);
            padding: var(--size-20) var(--size-50);
            box-shadow: 0 5px 5px #a09f9f;
            width: -webkit-fill-available;
            max-width: -webkit-fill-available;
        }


        .perspective-container {
            display: flex;
            flex-direction: column;
        }

        .perspective-text {
            text-align: center;
        }


        .perspective-image img {
            width: -webkit-fill-available;
        }

        .why-front {
            margin-top: var(--size-50);
            margin-bottom: var(--size-50);
        }


        #line-dot {
            display: none;
        }

        .four-dots {
            display: inline-flex;
            flex-direction: column;
            gap: var(--size-40);
            margin-left: var(--size-50);
        }

        .dot-offers {
            display: inline-flex;
            flex-direction: column;
            margin-left: var(--size-50);
            gap: var(--size-100);
        }

        .full-image {
            width: -webkit-fill-available;
            margin-top: var(--size-30);
        }

        .executive-container {
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-rows: repeat(2, .5fr);
            grid-column-gap: 0px;
            grid-row-gap: var(--size-50);
            margin-right: 0;
            margin-top: var(--size-50);
        }



        .executive-dots {
            grid-area: 1 / 1 / 2 / 2;
        }

        .executive-director {
            grid-area: 1 / 2 / 2 / 3;
            position: relative;
            right: 25%;
        }

        .testimonial {
            grid-area: 2 / 1 / 3 / 3;
            text-align: center;
        }



        .executive-dots {
            left: 25%;
            position: relative;
            top: 8%;
            z-index: -1;
        }


        .trusted h4 {
            margin-top: 0;
        }


        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--size-50);
        }


        .pricing-container {
            display: flex;
            flex-direction: column;
            gap: var(--size-30);
            margin: var(--size-20);
        }

        .price-card {
            margin: var(--size-20);
        }


        .hire-us {
            display: flex;
            flex-direction: column;
            margin-top: 0;
        }


        .hire-header {
            margin-left: 0;
            text-align: center;
        }


        .hire-human {
            position: initial;
            left: 115%;
            bottom: 40%;
            justify-content: space-evenly;
        }

        .head-of-comm {
            position: initial;
            left: 130%;
            bottom: 35%;
        }

        .hire-us .form {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .input-group {
            flex-direction: column;
            height: auto;
        }

            .input-group input {
                height: var(--size-40);
            }

            .input-group select {
                height: var(--size-40);
            }



        .footer-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            text-align: center;
        }


        .bottom-footer {
            flex-direction: column;
            align-items: center;
        }


        #bottom-directory {
            width: max-content;
        }


        .social-buttons {
            display: grid;
            grid-template-columns: repeat(4, .1fr);
            grid-template-rows: repeat(2, .1fr);
        }

        #face {
            grid-area: 1 / 1 / 2 / 2;
        }
        #goog {
            grid-area: 1 / 2 / 2 / 3;
        }
        #twit {
            grid-area: 1 / 3 / 2 / 4;
        }
        #gith {
            grid-area: 1 / 4 / 2 / 5;
        }

        #country {
            grid-area: 2 / 1 / 3 / 5;
        }

        
    } 

























