@media (min-width: 768px) and (max-width: 1024px) {


    [aria-controls=navbarDropdown] {
        display: block;
    }

    .navbar-toggler {
        position: inherit;
    }


    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 0;
        top: var(--size-100);
        /* background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7)); */
        width: 100%;
        height: -webkit-fill-available;
        box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
        background-color: whitesmoke;
        padding-top: var(--size-50);
    }

        [aria-expanded="true"] ~ ul li a {
            margin-right: var(--size-20);
            color: var(--font-color-dark);
            font-size: 0.8125rem;
            font-weight: 600;
            font-family: "hind", sans-serif;
            text-transform: uppercase;
            margin-right: 2.5rem;
            line-height: 1.25rem;
        }

    [aria-expanded="true"] ~ button {
        display: none;
    }

    .trigram-menu li button {
        position: absolute;
        bottom: 60%;
        right: 43%;
        padding: var(--size-20);
        width: var(--size-150);
    }


        .trigram-menu li button a {
            margin-right: 0;
        }


    .nav-links {
        display: none;
    }

    .nav-container {
        margin: var(--size-20);
    }


    .empowerment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: var(--size-50);
        text-align: center;
    }

    .empower h1 {
        font-size: var(--size-40);
    }


    .icon-logo-container {
        margin-right: 0;
        grid-row-gap: 0rem;
        grid-column-gap: 0rem;
        margin-top: 0;
    }

    .service-header h2 {
        font-size: var(--size-30);
    }

    .service-card img {
        width: var(--size-50);
    }

    .service-card h4 {
        font-size: var(--size-20);
    }

    .service-card p {
        font-size: var(--size-14);
    }


    .card-container {
        display: grid;
        grid-template-areas:
            "respond custom"
            "prem docu";
        margin-top: var(--size-50);
        margin-bottom: var(--size-50);
        grid-row-gap: var(--size-50);
        grid-column-gap: var(--size-20);
        grid-row-gap: var(--size-20);
        margin-left: var(--size-20);
        margin-right: var(--size-20);
    }


    #responsive {
        grid-area: respond;
    }

    #customize {
        grid-area: custom;
    }

    #premium {
        grid-area: prem;
    }

    #document {
        grid-area: docu;
    }

    .service-card {
        max-width: -webkit-fill-available;
        padding: var(--size-30) var(--size-10);
    }


    .perspective-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--size-50);
        margin: 0;
    }

    .perspective-text {
        text-align: center;
    }


    .perspective-image img {
        width: -webkit-fill-available;
    }


    .why-front {
        margin-top: auto;
        margin-bottom: var(--size-50);
    }

        .why-front h2 {
            font-size: var(--size-30);
        }


    #full-play {
        font-size: var(--size-100);
        transform: translate(312%, -204%);
    }


    .executive-container {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: var(--size-50);
        margin-right: 0;
    }


    .executive-dots {
        grid-area: 1 / 1 / 2 / 2;
    }

    .executive-director {
        grid-area: 1 / 2 / 2 / 3;
        position: relative;
        right: 20%;
    }

    .testimonial {
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
    }


    .executive-dots {
        left: 40%;
        position: relative;
        top: 17%;
        z-index: -1;
    }

    .hubspot-logo {
        width: var(--size-100);
    }

    .trusted h4 {
        margin-top: 0;
    }

    .logo-container img {
        width: var(--size-100);
    }

    .pricing-header {
        margin-top: var(--size-50);
    }

    .pricing-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr repeat(2, 1fr);
        grid-column-gap: var(--size-100);
        grid-row-gap: var(--size-50);
        margin: var(--size-20);
    }

    #main-card {
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
    }

    #card2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    #card3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    #card4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    #card5 {
        grid-area: 3 / 2 / 4 / 3;
    }


    .price-card {
        padding: 0 var(--size-50);
    }

        .price-card h4 {
            font-size: var(--size-50);
            margin-bottom: auto;
        }

        .price-card p {
            font-size: var(--size-30);
        }

    #card-butt {
        margin-top: var(--size-100);
    }

    .pricing-subcard h4 {
        font-size: var(--size-20);
    }

    .pricing-subcard p {
        font-size: var(--size-18);
    }

    .hire-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: .5fr 1fr;
        margin-top: 0;
    }


    .form {
        grid-area: 2 / 1 / 3 / 3;
    }

    .hire-header {
        grid-area: 1 / 1 / 2 / 2;
        margin-left: var(--size-30);
        position: relative;
        top: 20%;
        width: 75%;
    }


    .hire-us .form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .head-of-comm {
        position: relative;
        left: 155%;
        bottom: 35%;
    }

    .hire-human {
        position: relative;
        left: 155%;
        bottom: 40%;
        gap: var(--size-50);
    }


    .footer-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 0rem;
        font-size: var(--size-20);
    }

    .contact-footer {
        grid-area: 1 / 1 / 2 / 2;
        padding-left: var(--size-20);
    }


    .company-footer {
        grid-area: 1 / 2 / 2 / 3;
    }

    .feature-footer {
        grid-area: 1 / 3 / 2 / 4;
    }

    .docu-footer {
        grid-area: 2 / 2 / 3 / 3;
    }

    .resources-footer {
        grid-area: 2 / 3 / 3 / 4;
    }


    .bottom-footer {
        display: flex;
        justify-content: space-around;
        margin-right: 0;
        margin-left: 0;
    }

    .last-text {
        font-size: var(--size-18);
    }
}


@media (min-width: 360px) and (max-width: 767px) {


    .navbar-toggler {
        position: inherit;
    }

    .nav-links {
        display: none;
    }


    [aria-expanded="false"] ~ ul {
        display: none;
    }

    [aria-expanded="true"] ~ ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: var(--size-100);
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
        background-color: whitesmoke;
        padding-top: 0rem;
        margin-top: var(--size-50);
        gap: var(--size-50);
    }

        [aria-expanded="true"] ~ ul li a {
            color: var(--font-color-dark);
            font-size: 0.8125rem;
            font-weight: 600;
            font-family: "hind", sans-serif;
            text-transform: uppercase;
            line-height: 1.25rem;
        }

    .trigram-menu li a {
        text-align: center;
    }


    .trigram-menu li button {
        position: absolute;
        bottom: 45%;
        right: 30%;
        padding: var(--size-20);
        width: var(--size-150);
    }


        .trigram-menu li button a {
            margin-right: 0;
        }

    [aria-controls=navbarDropdown] {
        display: block;
    }

    .trigram-menu li button {
        padding: var(--size-10);
        width: var(--size-150);
    }

        .trigram-menu li button a {
            margin-right: 0;
        }

    .empowerment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: var(--size-20);
        text-align: center;
    }

    .empower h1 {
        font-size: var(--size-30);
    }

    .empower p {
        font-size: var(--size-16);
    }

    .empowerment-container img {
        width: var(--size-30);
    }

    .icon-logo-container {
        margin-right: 0;
        grid-row-gap: 0rem;
        grid-column-gap: 0rem;
        margin-top: 0rem;
    }


    #google {
        width: var(--size-20);
    }


    .service-header h2 {
        font-size: var(--size-30);
    }

    .service-header p {
        font-size: var(--size-16);
    }


    .card-container {
        display: flex;
        flex-direction: column;
        margin: 0 var(--size-20);
        gap: var(--size-18);
    }

    .service-card {
        border-style: hidden;
        font-size: var(--size-20);
        padding: var(--size-20) var(--size-20);
        box-shadow: 0 5px 5px #a09f9f;
        width: -webkit-fill-available;
        max-width: -webkit-fill-available;
    }

        .service-card img {
            width: var(--size-50);
        }

        .service-card h4 {
            font-size: var(--size-20)
        }

        .service-card p {
            font-size: var(--size-16);
        }

        .service-card span {
            font-size: var(--size-14);
        }

    .perspective-container {
        display: flex;
        flex-direction: column;
    }

    .perspective-text {
        text-align: center;
        margin-bottom: var(--size-50);
    }

        .perspective-text h4 {
            font-size: var(--size-30);
            margin-bottom: 0;
        }

    .perspective-image img {
        width: -webkit-fill-available;
    }

    .why-front {
        margin-top: var(--size-50);
        margin-bottom: var(--size-50);
    }

        .why-front h2 {
            font-size: var(--size-30);
            margin-bottom: 0;
        }

        .why-front p {
            font-size: var(--size-16);
        }


    #line-dot {
        display: none;
    }

    .four-dots {
        display: inline-flex;
        flex-direction: column;
        gap: 1.25rem;
        transform: translate(130%, 0%);
    }

    .dot-offers {
        display: inline-flex;
        flex-direction: column;
        gap: 5.525rem;
        transform: translate(43%, -2%);
    }

    .full-image img {
        width: -webkit-fill-available;
        margin: 0;
    }

    #full-play {
        font-size: var(--size-50);
        transform: translate(271%, -194%);
    }

    .executive-container {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: repeat(2, .5fr);
        grid-column-gap: 0px;
        grid-row-gap: var(--size-50);
        margin-right: 0;
        margin-top: var(--size-50);
    }


    .executive-dots {
        grid-area: 1 / 1 / 2 / 2;
    }

    .executive-director {
        grid-area: 1 / 2 / 2 / 3;
        position: relative;
        right: 20%;
    }

    .testimonial {
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
    }


    .executive-dots {
        left: 35%;
        position: relative;
        top: 15%;
        z-index: -1;
    }

    .hubspot-logo {
        width: var(--size-100);
    }


    .testimonial p {
        font-size: var(--size-20);
    }

    .trusted h4 {
        margin-top: var(--size-50);
        margin-bottom: var(--size-50);
    }


    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-50);
    }

        .logo-container img {
            width: var(--size-100);
        }

    .pricing-header {
        margin-top: var(--size-50);
    }

    .pricing-container {
        display: flex;
        flex-direction: column;
        gap: var(--size-50);
        margin: 0 var(--size-20) var(--size-50);
    }

    .price-card {
        padding: 0 var(--size-30);
        text-align: center;
    }

    .pricing-subcard h4 {
        font-size: var(--size-20);
    }

    .pricing-subcard p {
        font-size: var(--size-18);
    }

    .pricing-subcard span {
        font-size: var(--size-14);
    }

    .hire-us {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }


    .hire-header {
        text-align: center;
        margin: 0 var(--size-20);
    }


        .hire-header p {
            font-size: var(--size-16);
        }


    .hire-human {
        position: initial;
        left: 115%;
        bottom: 40%;
        gap: var(--size-100);
        justify-content: center;
    }

    .head-of-comm {
        position: initial;
        left: 130%;
        bottom: 35%;
    }

    .hire-us .form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .bottom-form-text p {
        font-size: var(--size-18);
    }

    .hire-us h2 {
        font-size: var(--size-20);
    }

    .head-of-comm h4 {
        font-size: var(--size-10);
    }

    .head-of-comm h5 {
        font-size: var(--size-10);
    }

    .input-group {
        flex-direction: column;
        height: auto;
        gap: var(--size-30);
    }

        .input-group input {
            height: var(--size-40);
        }

        .input-group select {
            height: var(--size-40);
        }


    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        text-align: center;
        font-size: var(--size-20);
    }


    .bottom-footer {
        flex-direction: column;
        align-items: center;
    }


    #bottom-directory {
        width: max-content;
        font-size: var(--size-20);
    }


    .social-buttons {
        display: grid;
        grid-template-columns: repeat(4, .1fr);
        grid-template-rows: repeat(2, .1fr);
    }

    #face {
        grid-area: 1 / 1 / 2 / 2;
    }

    #goog {
        grid-area: 1 / 2 / 2 / 3;
    }

    #twit {
        grid-area: 1 / 3 / 2 / 4;
    }

    #gith {
        grid-area: 1 / 4 / 2 / 5;
    }

    #country {
        grid-area: 2 / 1 / 3 / 5;
    }

    .last-text {
        font-size: var(--size-16);
    }
}
