.nav-container {
    display: flex;
    justify-content: space-between;
    margin: var(--size-40);
}

    .nav-container img {
        width: var(--size-150);
    }

.nav-links a {
    color: var(--font-color-base);
}

.nav-links a {
   text-decoration: none;
   margin: var(--size-10);
       font-size: var(--size-20);
    }

.buy-now-button {
    border-radius: var(--size-50);
    background-color: #1633d5;
    padding: var(--size-10);
}

    .buy-now-button a {
        color: #ffffff
    }

[aria-controls=navbarDropdown] {
    display: none;
}

[aria-expanded="false"] ~ ul {
    display: none;
}




.empowerment-container {
    display: inline-flex;
    margin-left: var(--size-100);
    margin-top: var(--size-100);
    gap: var(--size-150);
}





.icon-logo-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-right: var(--size-100);
    grid-row-gap: var(--size-50);
    grid-column-gap: var(--size-50);
    margin-top: var(--size-50);
}





.paypal {
    grid-area: 3 / 1 / 4 / 2;
}

.google {
    grid-area: 1 / 1 / 2 / 2;
}

.atlassian {
    grid-area: 1 / 3 / 2 / 4;
}

.google-a {
    grid-area: 4 / 3 / 5 / 4;
}

.weave {
    grid-area: 3 / 5 / 4 / 6;
}

.asana {
    grid-area: 1 / 7 / 2 / 8;
}

.calender {
    grid-area: 5 / 7 / 6 / 8;
}

    

.empower h1 {
    font-size: var(--size-50);
    margin-bottom: 0;
}


.empower p {
    font-size: var(--size-20);
    margin-top: auto;
}

.sub-empower a {
    font-size: var(--size-20);
    margin-top: var(--size-30);
    margin-left: var(--size-16);
}

.empowerment-container img {
    width: var(--size-50);
    border-style: groove;
    border-radius: 100%;
    padding: var(--size-10);
}


.service-header {
    margin-top: var(--size-50);
    margin-bottom: var(--size-50);
    text-align: center;
}


    .service-header h2 {
        margin-bottom: 0;
        font-size: var(--size-40);
    }

    .service-header p {
        margin-top: 0;
        font-size: var(--size-20);
    }
/*
.card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--size-100);
    margin-bottom: var(--size-100);
}

    */

.card-container {
    display: grid;
    grid-template-areas:
        "respond custom prem docu";
        margin-top: var(--size-100);
    margin-bottom: var(--size-100);
}


#responsive {
    grid-area: respond;
}

#customize {
    grid-area: custom;
}

#premium {
    grid-area: prem;
}

#document {
    grid-area: docu;
}


.service-card {
    border-style: hidden;
    max-width: fit-content;
    font-size: var(--size-20);
    padding: var(--size-20) var(--size-50);
    box-shadow: 0 5px 5px #a09f9f
}

    .service-card img {
        width: var(--size-100);
    }

    .service-card h4 {
        font-size: var(--size-30);
    }

    .service-card p {
        font-size: var(--size-20);
    }

    .service-card span {
        font-size: var(--size-16);
        background-color: #1ac731;
        padding: var(--size-10);
        border-radius: var(--size-20);
        color: var(--white);
    }


    .perspective-container {
        display: flex;
        justify-content: space-evenly;
    }

.perspective-text h4 {
    font-size: var(--size-40);
}




.why-front {
    text-align: center;
    margin-top: var(--size-150);
    margin-bottom: var(--size-150);
}

.why-front h2 {
    font-size: var(--size-40);
}

.why-front p {
    font-size: var(--size-20);
}

.four-dots {
    display: flex;
    justify-content: space-around;
    font-size: var(--size-30);
}

#line-dot {

}

#dot {
    background-color: cornflowerblue;
    border-radius: 100%;
    width: var(--size-50);
    text-align: center;
    margin-bottom: var(--size-50)
}




.dot-offers {
    display: flex;
    justify-content: space-around;
    font-size: var(--size-20);
    margin-bottom: var(--size-50);
}




.full-image img {
    width: -webkit-fill-available;
    margin: var(--size-30);
}



.executive-container {
    display: grid;
    grid-template-columns: .4fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-right: var(--size-50);
    margin-top: var(--size-100);
}



.executive-dots {
    grid-area: 1 / 1 / 2 / 2;

}


.executive-dots {
    left: 75%;
    position: relative;
    top: 30%;
    z-index: -1;
}

.executive-director {
    grid-area: 1 / 2 / 2 / 3;
}

.testimonial {
    grid-area: 1 / 3 / 2 / 4;
}




    

    .executive-director img {
        width: 85%;
        
    }

    

.hubspot-logo {
    width: var(--size-150);
}


.testimonial {
    margin-top: auto;
    margin-bottom: auto;
}


.testimonial p {
    font-size: var(--size-30)
}

.trusted h4 {
    text-align: center;
    font-size: var(--size-20);
    margin-top: var(--size-150);
}


.logo-container {
    display: flex;
    justify-content: space-around;
}


.logo-container img {
    width: var(--size-150);
}



.pricing-header {
    text-align: center;
    margin-bottom: var(--size-50);
    margin-top: var(--size-100);
}

.pricing-header h4 {
    font-size: var(--size-30);
    margin-bottom: 0;
}

    .pricing-header p {
        font-size: var(--size-18);
        margin-top: auto;
    }

.pricing-container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: var(--size-100);
    grid-row-gap: 0px;
    margin: var(--size-50);
}


#main-card {
    grid-area: 1 / 1 / 3 / 2;
}

#card2 {
    grid-area: 1 / 2 / 2 / 3;
}

#card3 {
    grid-area: 1 / 3 / 2 / 4;
}

#card4 {
    grid-area: 2 / 2 / 3 / 3;
}

#card5 {
    grid-area: 2 / 3 / 3 / 4;
}


.price-card {
    border-style: outset;
    padding: var(--size-50);
    margin-left: auto;
    width: -webkit-fill-available;
    box-shadow: 0 5px 5px #a09f9f;
}



    .pricing-subcard span {
        font-size: var(--size-16);
        background-color: #1ac731;
        padding: var(--size-10);
        border-radius: var(--size-20);
        color: var(--white);
    }


.price-card h4 {
    font-size: var(--size-50);
}

    .price-card p {
        color: var(--font-color-base);
        font-size: var(--size-20);
        margin-top: var(--size-30);
    }

.pricing-subcard img {
    width: var(--size-100);
}


.pricing-subcard h4 {
    font-size: var(--size-18);
}

.pricing-subcard p {
    color: var(--font-color-base);
    font-size: var(--size-16);
}


.hire-us {
    background-color: #1d0d82;
    display: flex;
    justify-content: space-around;
    margin-top: var(--size-150);
   
}

.hire-header {
    margin-top: inherit;
}

.hire-header h2 {
    font-size: var(--size-30);
    color: #ffffff;
        margin-bottom: 0;
}

    .hire-header p {
        font-size: var(--size-20);
        color: var(--font-color-light);
        margin-top: auto;
        margin-bottom: var(--size-30);
    }

.hire-subheader p {
    color: #ffffff;
        margin-top: var(--size-30);
}

.head-of-comm h4 {
    color: #ffff;
    font-size: var(--size-20);
    margin: 0;
}

.head-of-comm h5 {
    color: var(--font-color-light);
    font-size: var(--size-20);
    margin: auto;
}

.hire-human {
    margin-top: var(--size-50);
    display: flex;
    justify-content: space-between;
}

    .hire-human img {
        border-radius: 100%;
        width: var(--size-50);
    }

.hire-us .form {
    font-size: var(--size-20);
    background-color: white;
    margin-top: var(--size-20);
    margin-bottom: var(--size-20);
    padding: 0 var(--size-20);
    border-radius: var(--size-10);
    width: 40%;
}

.input-group {
    display: flex;
    justify-content: center;
    height: var(--size-50);
    gap: var(--size-20);
    
}

    .input-group input {
        width: -webkit-fill-available;
        color: var(--font-color-base);
        font-size: var(--size-18);
    }

    .input-group select {
        width: -webkit-fill-available;
        font-size: var(--size-18);
    }

.form-text-area {
    width: -webkit-fill-available;
    margin-top: inherit;
    height: var(--size-150);
    color: var(--font-color-base);
    font-size: var(--size-18);
}

.bottom-form-text {
    text-align: center;
    margin-bottom: inherit;
    margin-top: var(--size-50);
}

    .bottom-form-text p {
        margin-bottom: auto;
        color: var(--font-color-base);
    }

.form-button {
    margin: var(--size-30);
}


.footer-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--size-50);
    margin-bottom: var(--size-50);
}


.contact-footer img {
    width: var(--size-150);
}


.contact-footer li {
    margin-bottom: var(--size-10);
    
}

.company-footer li {
    margin-bottom: var(--size-10);

}



.company-footer h6 {
    display: inline;
    margin-left: var(--size-10);
    background-color: #0d25f4;
    color: white;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.feature-footer li {
    margin-bottom: var(--size-10);
}


.docu-footer li {
    margin-bottom: var(--size-10);
}



.resources-footer li {
    margin-bottom: var(--size-10);
}




.footer-container a {
    margin: var(--size-10);
    color: var(--font-color-base);
}

.contact-footer p {
    color: var(--font-color-base);
}

#phone-number {
    color: #0f55d6;
}

.fa-phone {
    color: var(--font-color-base);
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    margin-right: var(--size-150);
    margin-left: var(--size-150);
}
}

#bottom-directory {
    display: contents;
    color: var(--font-color-base);
}



.social-buttons button, .social-buttons select {
    margin: var(--size-10);
    padding: var(--size-10);
    border-style: hidden;
    border-radius: var(--size-10);
    background-color: #d4cccc
}



.last-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.last-text {
    text-align: center;
    color: var(--font-color-base);
}

